part1/anecdotes/node_modules/
part1/anecdotes/srcExclude/
part1/unicafe/node_modules/
part1/unicafe/srcExclude/
part1/course-content/node_modules/
part1/course information/
part2/countries/node_modules/
part2/phonebook/node_modules/
t3st/